In [1]:
import pandas as pd
import numpy as np

In [2]:
na_vals = ['NA', 'Missing']
# we add the first column of the CSV file called 'Column' as the index
schema_df = pd.read_csv('./files/survey_results_schema.csv', index_col="Column")
# we add the first column of the CSV file called 'Respondent' as the index
df = pd.read_csv("./files/survey_results_public.csv", index_col="Respondent", na_values=na_vals)

In [3]:
df.shape  # (rows, columns)

(88883, 84)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 88883 entries, 1 to 88863
Data columns (total 84 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   MainBranch              88331 non-null  object
 1   Hobbyist                88883 non-null  object
 2   OpenSourcer             88883 non-null  object
 3   OpenSource              86842 non-null  object
 4   Employment              87181 non-null  object
 5   Country                 88751 non-null  object
 6   Student                 87014 non-null  object
 7   EdLevel                 86390 non-null  object
 8   UndergradMajor          75614 non-null  object
 9   EduOther                84260 non-null  object
 10  OrgSize                 71791 non-null  object
 11  DevType                 81335 non-null  object
 12  YearsCode               87938 non-null  object
 13  Age1stCode              87634 non-null  object
 14  YearsCodePro            74331 non-null  object
 15  CareerSat               72847 non-null  object
 16  JobSat                  70988 non-null  object
 17  MgrIdiot                61159 non-null  object
 18  MgrMoney                61157 non-null  object
 19  MgrWant                 61232 non-null  object
 20  JobSeek                 80555 non-null  object
 21  LastHireDate            79854 non-null  object
 22  LastInt                 67155 non-null  object
 23  FizzBuzz                71344 non-null  object
 24  JobFactors              79371 non-null  object
 25  ResumeUpdate            77877 non-null  object
 26  CurrencySymbol          71392 non-null  object
 27  CurrencyDesc            71392 non-null  object
 28  CompTotal               55945 non-null  float64
 29  CompFreq                63268 non-null  object
 30  ConvertedComp           55823 non-null  float64
 31  WorkWeekHrs             64503 non-null  float64
 32  WorkPlan                68914 non-null  object
 33  WorkChallenge           68141 non-null  object
 34  WorkRemote              70284 non-null  object
 35  WorkLoc                 70055 non-null  object
 36  ImpSyn                  71779 non-null  object
 37  CodeRev                 70390 non-null  object
 38  CodeRevHrs              49790 non-null  float64
 39  UnitTests               62668 non-null  object
 40  PurchaseHow             61108 non-null  object
 41  PurchaseWhat            62029 non-null  object
 42  LanguageWorkedWith      87569 non-null  object
 43  LanguageDesireNextYear  84088 non-null  object
 44  DatabaseWorkedWith      76026 non-null  object
 45  DatabaseDesireNextYear  69147 non-null  object
 46  PlatformWorkedWith      80714 non-null  object
 47  PlatformDesireNextYear  77443 non-null  object
 48  WebFrameWorkedWith      65022 non-null  object
 49  WebFrameDesireNextYear  62944 non-null  object
 50  MiscTechWorkedWith      59586 non-null  object
 51  MiscTechDesireNextYear  64511 non-null  object
 52  DevEnviron              87317 non-null  object
 53  OpSys                   87851 non-null  object
 54  Containers              85366 non-null  object
 55  BlockchainOrg           48175 non-null  object
 56  BlockchainIs            60165 non-null  object
 57  BetterLife              86269 non-null  object
 58  ITperson                87141 non-null  object
 59  OffOn                   86663 non-null  object
 60  SocialMedia             84437 non-null  object
 61  Extraversion            87305 non-null  object
 62  ScreenName              80486 non-null  object
 63  SOVisit1st              83877 non-null  object
 64  SOVisitFreq             88263 non-null  object
 65  SOVisitTo               88086 non-null  object
 66  SOFindAnswer            87816 non-null  object
 67  SOTimeSaved             86344 non-null  object
 68  SOHowMuchTime           68378 non-null  object
 69  SOAccount               87828 non-null  object
 70  SOPartFreq              74692 non-null  object
 71  SOJobs                  88066 non-null  object
 72  EntTeams                87841 non-null  object
 73  SOComm                  88131 non-null  object
 74  WelcomeChange           85855 non-null  object
 75  SONewContent            69560 non-null  object
 76  Age                     79210 non-null  float64
 77  Gender                  85406 non-null  object
 78  Trans                   83607 non-null  object
 79  Sexuality               76147 non-null  object
 80  Ethnicity               76668 non-null  object
 81  Dependents              83059 non-null  object
 82  SurveyLength            86984 non-null  object
 83  SurveyEase              87081 non-null  object
dtypes: float64(5), object(79)
memory usage: 57.6+ MB

In [5]:
pd.set_option('display.max_columns', 85)
pd.set_option('display.max_rows', 85)

In [6]:
df.head(2)

,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,EduOther,OrgSize,DevType,YearsCode,Age1stCode,YearsCodePro,CareerSat,JobSat,MgrIdiot,MgrMoney,MgrWant,JobSeek,LastHireDate,LastInt,FizzBuzz,JobFactors,ResumeUpdate,CurrencySymbol,CurrencyDesc,CompTotal,CompFreq,ConvertedComp,WorkWeekHrs,WorkPlan,WorkChallenge,WorkRemote,WorkLoc,ImpSyn,CodeRev,CodeRevHrs,UnitTests,PurchaseHow,PurchaseWhat,LanguageWorkedWith,LanguageDesireNextYear,DatabaseWorkedWith,DatabaseDesireNextYear,PlatformWorkedWith,PlatformDesireNextYear,WebFrameWorkedWith,WebFrameDesireNextYear,MiscTechWorkedWith,MiscTechDesireNextYear,DevEnviron,OpSys,Containers,BlockchainOrg,BlockchainIs,BetterLife,ITperson,OffOn,SocialMedia,Extraversion,ScreenName,SOVisit1st,SOVisitFreq,SOVisitTo,SOFindAnswer,SOTimeSaved,SOHowMuchTime,SOAccount,SOPartFreq,SOJobs,EntTeams,SOComm,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
Respondent,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,I am a student who is learning to code,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United Kingdom,No,Primary/elementary school,NaN,"Taught yourself a new language, framework, or ...",NaN,NaN,4,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,HTML/CSS;Java;JavaScript;Python,C;C++;C#;Go;HTML/CSS;Java;JavaScript;Python;SQL,SQLite,MySQL,MacOS;Windows,Android;Arduino;Windows,Django;Flask,Flask;jQuery,Node.js,Node.js,IntelliJ;Notepad++;PyCharm,Windows,I do not use containers,NaN,NaN,Yes,"Fortunately, someone else has that title",Yes,Twitter,Online,Username,2017,A few times per month or weekly,Find answers to specific questions;Learn how t...,3-5 times per week,Stack Overflow was much faster,31-60 minutes,No,NaN,"No, I didn't know that Stack Overflow had a jo...","No, and I don't know what those are",Neutral,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,14.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
2,I am a student who is learning to code,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work",Bosnia and Herzegovina,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,Taken an online course in programming or softw...,NaN,"Developer, desktop or enterprise applications;...",NaN,17,NaN,NaN,NaN,NaN,NaN,NaN,I am actively looking for a job,I've never had a job,NaN,NaN,Financial performance or funding status of the...,"Something else changed (education, award, medi...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,C++;HTML/CSS;Python,C++;HTML/CSS;JavaScript;SQL,NaN,MySQL,Windows,Windows,Django,Django,NaN,NaN,Atom;PyCharm,Windows,I do not use containers,NaN,Useful across many domains and could change ma...,Yes,Yes,Yes,Instagram,Online,Username,2017,Daily or almost daily,Find answers to specific questions;Learn how t...,3-5 times per week,Stack Overflow was much faster,11-30 minutes,Yes,A few times per month or weekly,"No, I knew that Stack Overflow had a job board...","No, and I don't know what those are","Yes, somewhat",Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,19.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult

In [7]:
people = {
    "first": ["Corey", "Jane", "John"],
    "last": ["Schafer", "Doe", "Deer"],
    "email": ["corey@gmail.com","jane@gmail.com", "JohnDeer@gmail.com"]
}

# dictionary to dataframe
people_df = pd.DataFrame(people)
people_df

   first     last               email
0  Corey  Schafer     corey@gmail.com
1   Jane      Doe      jane@gmail.com
2   John     Deer  JohnDeer@gmail.com

In [8]:
# series can be looked as rows of a column, like a list in python
type(people_df["email"])

pandas.core.series.Series

In [9]:
people_df["email"]

0       corey@gmail.com
1        jane@gmail.com
2    JohnDeer@gmail.com
Name: email, dtype: object

In [10]:
people_df.email

0       corey@gmail.com
1        jane@gmail.com
2    JohnDeer@gmail.com
Name: email, dtype: object

In [11]:
people_df[['last', 'email']]  # this is a dataframe itself

      last               email
0  Schafer     corey@gmail.com
1      Doe      jane@gmail.com
2     Deer  JohnDeer@gmail.com

In [12]:
type(people_df[['last', 'email']])

pandas.core.frame.DataFrame

In [13]:
people_df.columns

Index(['first', 'last', 'email'], dtype='object')

In [14]:
people_df.iloc[[0, 1], 2]  # row : 0,1 col: 2

0    corey@gmail.com
1     jane@gmail.com
Name: email, dtype: object

In [15]:
people_df.loc[0]  # first row

first              Corey
last             Schafer
email    corey@gmail.com
Name: 0, dtype: object

In [16]:
people_df.loc[[0, 1], ['email', 'last']]  # first and second row, for these two columns

             email     last
0  corey@gmail.com  Schafer
1   jane@gmail.com      Doe

In [17]:
# from the survey dataframe
df['DatabaseDesireNextYear'].value_counts()

DatabaseDesireNextYear
PostgreSQL                                                                               3539
Microsoft SQL Server                                                                     3290
MySQL                                                                                    3184
MongoDB                                                                                  2250
SQLite                                                                                   1506
                                                                                         ...
Couchbase;Elasticsearch;Other(s):                                                           1
Couchbase;Elasticsearch;Firebase;MariaDB;MongoDB;MySQL;Oracle;PostgreSQL;Redis;SQLite       1
Couchbase;Firebase;MariaDB                                                                  1
DynamoDB;Microsoft SQL Server;Oracle;Other(s):                                              1
DynamoDB;MariaDB;MongoDB;Microsoft SQL Server;MySQL;PostgreSQL;SQLite;Other(s):             1
Name: count, Length: 3923, dtype: int64

In [18]:
df.loc[[1, 2, 3], ['Hobbyist', 'DatabaseDesireNextYear']]

           Hobbyist DatabaseDesireNextYear
Respondent
1               Yes                  MySQL
2                No                  MySQL
3               Yes             PostgreSQL

In [19]:
df.loc[1:4, ['Hobbyist', 'DatabaseDesireNextYear']]  # slicing in pandas is INCLUSIVE

           Hobbyist DatabaseDesireNextYear
Respondent
1               Yes                  MySQL
2                No                  MySQL
3               Yes             PostgreSQL
4                No           MySQL;SQLite

In [20]:
df.loc[1:2, 'Hobbyist':'Employment']  # show all columns from Hobbyist to Employment

,Hobbyist,OpenSourcer,OpenSource,Employment
Respondent,,,,
1,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work"
2,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work"

In [21]:
people_df.set_index('email', inplace=True) # set a column as index of dataframe

people_df

                    first     last
email
corey@gmail.com     Corey  Schafer
jane@gmail.com       Jane      Doe
JohnDeer@gmail.com   John     Deer

In [22]:
people_df.reset_index(inplace=True)

people_df

                email  first     last
0     corey@gmail.com  Corey  Schafer
1      jane@gmail.com   Jane      Doe
2  JohnDeer@gmail.com   John     Deer

In [23]:
schema_df.columns

Index(['QuestionText'], dtype='object')

In [24]:
schema_df.index

Index(['Respondent', 'MainBranch', 'Hobbyist', 'OpenSourcer', 'OpenSource',
       'Employment', 'Country', 'Student', 'EdLevel', 'UndergradMajor',
       'EduOther', 'OrgSize', 'DevType', 'YearsCode', 'Age1stCode',
       'YearsCodePro', 'CareerSat', 'JobSat', 'MgrIdiot', 'MgrMoney',
       'MgrWant', 'JobSeek', 'LastHireDate', 'LastInt', 'FizzBuzz',
       'JobFactors', 'ResumeUpdate', 'CurrencySymbol', 'CurrencyDesc',
       'CompTotal', 'CompFreq', 'ConvertedComp', 'WorkWeekHrs', 'WorkPlan',
       'WorkChallenge', 'WorkRemote', 'WorkLoc', 'ImpSyn', 'CodeRev',
       'CodeRevHrs', 'UnitTests', 'PurchaseHow', 'PurchaseWhat',
       'LanguageWorkedWith', 'LanguageDesireNextYear', 'DatabaseWorkedWith',
       'DatabaseDesireNextYear', 'PlatformWorkedWith',
       'PlatformDesireNextYear', 'WebFrameWorkedWith',
       'WebFrameDesireNextYear', 'MiscTechWorkedWith',
       'MiscTechDesireNextYear', 'DevEnviron', 'OpSys', 'Containers',
       'BlockchainOrg', 'BlockchainIs', 'BetterLife', 'ITperson', 'OffOn',
       'SocialMedia', 'Extraversion', 'ScreenName', 'SOVisit1st',
       'SOVisitFreq', 'SOVisitTo', 'SOFindAnswer', 'SOTimeSaved',
       'SOHowMuchTime', 'SOAccount', 'SOPartFreq', 'SOJobs', 'EntTeams',
       'SOComm', 'WelcomeChange', 'SONewContent', 'Age', 'Gender', 'Trans',
       'Sexuality', 'Ethnicity', 'Dependents', 'SurveyLength', 'SurveyEase'],
      dtype='object', name='Column')

In [25]:
schema_df.sort_index(ascending=False)  # sort alphabetically from Z to A, default is True

                                                             QuestionText
Column
YearsCodePro            How many years have you coded professionally (...
YearsCode               Including any education, how many years have y...
WorkWeekHrs              On average, how many hours per week do you work?
WorkRemote                                How often do you work remotely?
WorkPlan                          How structured or planned is your work?
WorkLoc                                   Where would you prefer to work?
WorkChallenge           Of these options, what are your greatest chall...
WelcomeChange           Compared to last year, how welcome do you feel...
WebFrameWorkedWith      Which of the following web frameworks have you...
WebFrameDesireNextYear  Which of the following web frameworks have you...
UnitTests               Does your company regularly employ unit tests ...
UndergradMajor          What was your main or most important field of ...
Trans                                     Do you identify as transgender?
SurveyLength            How do you feel about the length of the survey...
SurveyEase              How easy or difficult was this survey to compl...
Student                 Are you currently enrolled in a formal, degree...
SocialMedia                   What social media site do you use the most?
Sexuality               Which of the following do you currently identi...
ScreenName                                           What do you call it?
SOVisitTo               I visit Stack Overflow to... (check all that a...
SOVisitFreq             How frequently would you say you visit Stack O...
SOVisit1st              To the best of your memory, when did you first...
SOTimeSaved             Think back to the last time you solved a codin...
SOPartFreq              How frequently would you say you participate i...
SONewContent            Would you like to see any of the following on ...
SOJobs                  Have you ever used or visited Stack Overflow J...
SOHowMuchTime           About how much time did you save? If you're no...
SOFindAnswer            On average, how many times a week do you find ...
SOComm                  Do you consider yourself a member of the Stack...
SOAccount                           Do you have a Stack Overflow account?
ResumeUpdate            Think back to the last time you updated your r...
Respondent              Randomized respondent ID number (not in order ...
PurchaseWhat            What level of influence do you, personally, ha...
PurchaseHow             How does your company make decisions about pur...
PlatformWorkedWith      Which of the following platforms have you done...
PlatformDesireNextYear  Which of the following platforms have you done...
OrgSize                 Approximately how many people are employed by ...
OpenSourcer                   How often do you contribute to open source?
OpenSource              How do you feel about the quality of open sour...
OpSys                   What is the primary operating system in which ...
OffOn                         Have you tried turning it off and on again?
MiscTechWorkedWith      Which of the following other frameworks, libra...
MiscTechDesireNextYear  Which of the following other frameworks, libra...
MgrWant                 Do you want to become a manager yourself in th...
MgrMoney                Do you believe that you need to be a manager t...
MgrIdiot                How confident are you that your manager knows ...
MainBranch              Which of the following options best describes ...
LastInt                 In your most recent successful job interview (...
LastHireDate            When was the last time that you took a job wit...
LanguageWorkedWith      Which of the following programming, scripting,...
LanguageDesireNextYear  Which of the following programming, scripting,...
JobSeek                 Which of the following best describes your cur...
JobSat                  How satisfied are you with your current job? (...
JobFactors              Imagine that you are deciding between two job ...
ImpSyn                  For the specific work you do, and the years of...
ITperson                 Are you the "IT support person" for your family?
Hobbyist                                          Do you code as a hobby?
Gender                  Which of the following do you currently identi...
FizzBuzz                Have you ever been asked to solve FizzBuzz in ...
Extraversion              Do you prefer online chat or IRL conversations?
Ethnicity               Which of the following do you identify as? Ple...
EntTeams                Have you ever used Stack Overflow for Enterpri...
Employment              Which of the following best describes your cur...
EduOther                Which of the following types of non-degree edu...
EdLevel                 Which of the following best describes the high...
DevType                 Which of the following describe you? Please se...
DevEnviron              Which development environment(s) do you use re...
Dependents              Do you have any dependents (e.g., children, el...
DatabaseWorkedWith      Which of the following database environments h...
DatabaseDesireNextYear  Which of the following database environments h...
CurrencySymbol          Which currency do you use day-to-day? If your ...
CurrencyDesc            Which currency do you use day-to-day? If your ...
Country                         In which country do you currently reside?
ConvertedComp           Salary converted to annual USD salaries using ...
Containers              How do you use containers (Docker, Open Contai...
CompTotal               What is your current total compensation (salar...
CompFreq                 Is that compensation weekly, monthly, or yearly?
CodeRevHrs              On average, how many hours per week do you spe...
CodeRev                          Do you review code as part of your work?
CareerSat               Overall, how satisfied are you with your caree...
BlockchainOrg           How is your organization thinking about or imp...
BlockchainIs            Blockchain / cryptocurrency technology is prim...
BetterLife              Do you think people born today will have a bet...
Age1stCode              At what age did you write your first line of c...
Age                     What is your age (in years)? If you prefer not...

In [26]:
filt = (people_df['last'] == 'Doe')  # returns a series with True/False

filt

0    False
1     True
2    False
Name: last, dtype: bool

In [27]:
people_df[filt]  # returns only true rows
# can also be people_df[people_df['last'] == 'Doe']

            email first last
1  jane@gmail.com  Jane  Doe

In [28]:
people_df.loc[filt, 'email']  # .loc[rows, columns]

# only return rows that are true and email column for those rows

1    jane@gmail.com
Name: email, dtype: object

In [29]:
people_df.loc[(people_df['last'] == 'Doe') & (people_df['first'] == 'Jane')]
# two filters at same time
# & : and     | : or

            email first last
1  jane@gmail.com  Jane  Doe

In [30]:
people_df.loc[~filt, 'email']  # ~ is same as !=

0       corey@gmail.com
2    JohnDeer@gmail.com
Name: email, dtype: object

In [31]:
high_salary = (df['ConvertedComp'] > 70000)

df.loc[high_salary, ['Country', 'LanguageWorkedWith', 'ConvertedComp']]

,Country,LanguageWorkedWith,ConvertedComp
Respondent,,,
6,Canada,Java;R;SQL,366420.0
9,New Zealand,Bash/Shell/PowerShell;C#;HTML/CSS;JavaScript;P...,95179.0
13,United States,Bash/Shell/PowerShell;HTML/CSS;JavaScript;PHP;...,90000.0
16,United Kingdom,Bash/Shell/PowerShell;C#;HTML/CSS;JavaScript;T...,455352.0
22,United States,Bash/Shell/PowerShell;C++;HTML/CSS;JavaScript;...,103000.0
...,...,...,...
88876,United States,Bash/Shell/PowerShell;C#;HTML/CSS;Java;Python;...,180000.0
88877,United States,Bash/Shell/PowerShell;C;Clojure;HTML/CSS;Java;...,2000000.0
88878,United States,HTML/CSS;JavaScript;Scala;TypeScript,130000.0
88879,Finland,Bash/Shell/PowerShell;C++;Python,82488.0
88882,Netherlands,C#;HTML/CSS;Java;JavaScript;PHP;Python,588012.0

In [32]:
df.loc[high_salary, ['ConvertedComp']].count()

ConvertedComp    22289
dtype: int64

In [33]:
countries = ['United States', 'Turkey', 'United Kingdom', 'Germany', 'Canada']
filt = df['Country'].isin(countries)

df.loc[filt, 'Country']

Respondent
1        United Kingdom
4         United States
6                Canada
12               Canada
13        United States
              ...
85182            Canada
85642     United States
85961    United Kingdom
88282     United States
88377            Canada
Name: Country, Length: 36896, dtype: object

In [34]:
df.loc[filt, 'Country'].value_counts()

Country
United States     20949
Germany            5866
United Kingdom     5737
Canada             3395
Turkey              949
Name: count, dtype: int64

In [35]:
filt = df['LanguageWorkedWith'].str.contains('Swift', na=False)

df.loc[filt, 'LanguageWorkedWith']

Respondent
21       Assembly;Bash/Shell/PowerShell;C;C++;Go;Java;J...
26       Bash/Shell/PowerShell;C++;C#;HTML/CSS;JavaScri...
90       Bash/Shell/PowerShell;C#;HTML/CSS;Java;JavaScr...
115         Assembly;C#;HTML/CSS;Java;JavaScript;SQL;Swift
152      HTML/CSS;Java;JavaScript;Kotlin;Objective-C;Py...
                               ...
72325                     HTML/CSS;JavaScript;Python;Swift
75974    Go;HTML/CSS;Java;JavaScript;Kotlin;Python;Swif...
78741    Assembly;Bash/Shell/PowerShell;C;C++;C#;Clojur...
84299     HTML/CSS;Java;JavaScript;Python;Swift;TypeScript
88863    Bash/Shell/PowerShell;HTML/CSS;Java;JavaScript...
Name: LanguageWorkedWith, Length: 5744, dtype: object

In [36]:
people_df.columns

Index(['email', 'first', 'last'], dtype='object')

In [37]:
people_df.columns = ['email', 'first_name', 'last_name'] # rename the columns

people_df

                email first_name last_name
0     corey@gmail.com      Corey   Schafer
1      jane@gmail.com       Jane       Doe
2  JohnDeer@gmail.com       John      Deer

In [38]:
people_df.columns = [x.lower() for x in people_df.columns]  # lambda function inside the dataframe Series

people_df

                email first_name last_name
0     corey@gmail.com      Corey   Schafer
1      jane@gmail.com       Jane       Doe
2  JohnDeer@gmail.com       John      Deer

In [39]:
people_df.columns = people_df.columns.str.replace(' ', '_')  # if there is space in column names, change them to _

people_df

                email first_name last_name
0     corey@gmail.com      Corey   Schafer
1      jane@gmail.com       Jane       Doe
2  JohnDeer@gmail.com       John      Deer

In [40]:
# only change specific columns
people_df.rename(columns={'first_name': 'First', 'last_name': 'Last'}, inplace=True)

people_df

                email  First     Last
0     corey@gmail.com  Corey  Schafer
1      jane@gmail.com   Jane      Doe
2  JohnDeer@gmail.com   John     Deer

In [41]:
people_df.loc[2] = ['John', 'Smith', 'JohnSmith@gmail.com']  # change/update a row

people_df

             email  First                 Last
0  corey@gmail.com  Corey              Schafer
1   jane@gmail.com   Jane                  Doe
2             John  Smith  JohnSmith@gmail.com

In [42]:
people_df.loc[2, 'Last'] = 'Jones'  # update specific column at specific row
# people_df[filt]['Last'] = 'Jones'    *this will return an error

people_df

             email  First     Last
0  corey@gmail.com  Corey  Schafer
1   jane@gmail.com   Jane      Doe
2             John  Smith    Jones

In [43]:
people_df.at[2, 'Last'] = 'Doe' # update specific column at specific row

people_df

             email  First     Last
0  corey@gmail.com  Corey  Schafer
1   jane@gmail.com   Jane      Doe
2             John  Smith      Doe

In [44]:
filt = people_df['email'] == "JohnSmith@gmail.com"
people_df[filt]['Last']

Series([], Name: Last, dtype: object)

In [45]:
# how to make the upperCase change permanant on dataFrame
people_df['email'] = people_df['email'].str.upper()

people_df

             email  First     Last
0  COREY@GMAIL.COM  Corey  Schafer
1   JANE@GMAIL.COM   Jane      Doe
2             JOHN  Smith      Doe

In [46]:
people_df.apply(len) # number of rows for each column, this will apply the lambda function to each of the columns

email    3
First    3
Last     3
dtype: int64

In [47]:
len(people_df['email'])

3

In [48]:
people_df.apply(len, axis='columns')  # number of columns for each row

0    3
1    3
2    3
dtype: int64

In [49]:
# get smallest (in length) values for each column, Return the minimum of the values over the requested axis.
people_df.apply(pd.Series.min)

email    COREY@GMAIL.COM
First              Corey
Last                 Doe
dtype: object

In [50]:
people_df.applymap(len)  # applies len() function to each cell in the dataFrame

   email  First  Last
0     15      5     7
1     14      4     3
2      4      5     3

In [51]:
# this will return error if we had numerical values here
people_df.applymap(str.lower)

             email  First     Last
0  corey@gmail.com  corey  schafer
1   jane@gmail.com   jane      doe
2             john  smith      doe

In [52]:
df.rename(columns={'ConvertedComp' : 'SalaryUSD'}, inplace=True)

df[df['SalaryUSD'] > 0]['SalaryUSD']

Respondent
3          8820.0
4         61000.0
6        366420.0
9         95179.0
10        13293.0
           ...
88878    130000.0
88879     82488.0
88881     68745.0
88882    588012.0
88883     22915.0
Name: SalaryUSD, Length: 55624, dtype: float64

In [53]:
df['Hobbyist'] = df['Hobbyist'].map({'Yes': True, 'No': False}) # anything outside Yes/No will be NaN

df['Hobbyist'].head()

Respondent
1     True
2    False
3     True
4    False
5     True
Name: Hobbyist, dtype: bool

In [54]:
people_df['First'] + ' ' + people_df['Last']

0    Corey Schafer
1         Jane Doe
2        Smith Doe
dtype: object

In [55]:
# add a new column to the end of the dataframe
people_df['full_name'] = people_df['First'] + " " + people_df['Last']

people_df

             email  First     Last      full_name
0  COREY@GMAIL.COM  Corey  Schafer  Corey Schafer
1   JANE@GMAIL.COM   Jane      Doe       Jane Doe
2             JOHN  Smith      Doe      Smith Doe

In [56]:
 # will throw an error if the column names are spelled wrong
people_df.drop(columns=['First', 'Last'], inplace=True)

people_df

             email      full_name
0  COREY@GMAIL.COM  Corey Schafer
1   JANE@GMAIL.COM       Jane Doe
2             JOHN      Smith Doe

In [57]:
# Add two new columns at same time
people_df[['First', 'Last']] = people_df['full_name'].str.split(' ', expand=True)

people_df

             email      full_name  First     Last
0  COREY@GMAIL.COM  Corey Schafer  Corey  Schafer
1   JANE@GMAIL.COM       Jane Doe   Jane      Doe
2             JOHN      Smith Doe  Smith      Doe

In [58]:
people_df.drop(columns=['full_name'], inplace=True)

In [59]:
# adding rows to dataframe, Not in-place
pd.concat([people_df, pd.DataFrame([{'First': 'Tony'}])], ignore_index=True)

             email  First     Last
0  COREY@GMAIL.COM  Corey  Schafer
1   JANE@GMAIL.COM   Jane      Doe
2             JOHN  Smith      Doe
3              NaN   Tony      NaN

In [60]:
# another way to add rows
new_row = {'email': 'x@x.com', 'First': 'Joanna', 'Last': 'Kowalska'}
people_df.loc[len(people_df)] = new_row

people_df

             email   First      Last
0  COREY@GMAIL.COM   Corey   Schafer
1   JANE@GMAIL.COM    Jane       Doe
2             JOHN   Smith       Doe
3          x@x.com  Joanna  Kowalska

In [61]:
people = {
    "First" : ["dude", "duddete"],
    "Last" : ["one", "two"],
    "email" : ["dude@gmail.com","duddete@gmail.com"]
}

people_df2 = pd.DataFrame(people)
people_df2

     First Last              email
0     dude  one     dude@gmail.com
1  duddete  two  duddete@gmail.com

In [62]:
# concat can detect same columns in different locations and still match the concatenation correctly
people_df = pd.concat([people_df, people_df2], ignore_index=True)

people_df

               email    First      Last
0    COREY@GMAIL.COM    Corey   Schafer
1     JANE@GMAIL.COM     Jane       Doe
2               JOHN    Smith       Doe
3            x@x.com   Joanna  Kowalska
4     dude@gmail.com     dude       one
5  duddete@gmail.com  duddete       two

In [63]:
people_df.drop(index=4) # drop rows

               email    First      Last
0    COREY@GMAIL.COM    Corey   Schafer
1     JANE@GMAIL.COM     Jane       Doe
2               JOHN    Smith       Doe
3            x@x.com   Joanna  Kowalska
5  duddete@gmail.com  duddete       two

In [64]:
cond = (people_df['Last'] == 'two')
people_df.drop(index=people_df[cond].index)

             email   First      Last
0  COREY@GMAIL.COM   Corey   Schafer
1   JANE@GMAIL.COM    Jane       Doe
2             JOHN   Smith       Doe
3          x@x.com  Joanna  Kowalska
4   dude@gmail.com    dude       one

In [65]:
people_df[cond].index  # sets the row where this filter returns True

Index([5], dtype='int64')

In [66]:
# sort the values by the values in the column 'Last' from Z to A
people_df.sort_values(by='Last', ascending=False)

               email    First      Last
5  duddete@gmail.com  duddete       two
4     dude@gmail.com     dude       one
0    COREY@GMAIL.COM    Corey   Schafer
3            x@x.com   Joanna  Kowalska
1     JANE@GMAIL.COM     Jane       Doe
2               JOHN    Smith       Doe

In [67]:
# if two rows have same value for 'Last' then sort them based on 'First'
people_df.sort_values(by=['Last', 'First'], ascending=False)

               email    First      Last
5  duddete@gmail.com  duddete       two
4     dude@gmail.com     dude       one
0    COREY@GMAIL.COM    Corey   Schafer
3            x@x.com   Joanna  Kowalska
2               JOHN    Smith       Doe
1     JANE@GMAIL.COM     Jane       Doe

In [68]:
people_df.sort_index()  # sort by index

               email    First      Last
0    COREY@GMAIL.COM    Corey   Schafer
1     JANE@GMAIL.COM     Jane       Doe
2               JOHN    Smith       Doe
3            x@x.com   Joanna  Kowalska
4     dude@gmail.com     dude       one
5  duddete@gmail.com  duddete       two

In [69]:
df.sort_values(by=['Country', 'SalaryUSD'], ascending=[True, False], inplace=True)

In [70]:
df[['Country', 'SalaryUSD']].head(10)

                Country  SalaryUSD
Respondent
63129       Afghanistan  1000000.0
50499       Afghanistan   153216.0
39258       Afghanistan    19152.0
58450       Afghanistan    17556.0
7085        Afghanistan    14364.0
22450       Afghanistan     7980.0
48436       Afghanistan     4464.0
10746       Afghanistan     3996.0
8149        Afghanistan     1596.0
29736       Afghanistan     1116.0

In [71]:
df['SalaryUSD'].nlargest(10)

Respondent
25983    2000000.0
87896    2000000.0
22013    2000000.0
28243    2000000.0
72732    2000000.0
78151    2000000.0
80200    2000000.0
52132    2000000.0
75561    2000000.0
32250    2000000.0
Name: SalaryUSD, dtype: float64

In [72]:
df.nlargest(5, 'SalaryUSD')  # full detail for top 5 earners

,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,EduOther,OrgSize,DevType,YearsCode,Age1stCode,YearsCodePro,CareerSat,JobSat,MgrIdiot,MgrMoney,MgrWant,JobSeek,LastHireDate,LastInt,FizzBuzz,JobFactors,ResumeUpdate,CurrencySymbol,CurrencyDesc,CompTotal,CompFreq,SalaryUSD,WorkWeekHrs,WorkPlan,WorkChallenge,WorkRemote,WorkLoc,ImpSyn,CodeRev,CodeRevHrs,UnitTests,PurchaseHow,PurchaseWhat,LanguageWorkedWith,LanguageDesireNextYear,DatabaseWorkedWith,DatabaseDesireNextYear,PlatformWorkedWith,PlatformDesireNextYear,WebFrameWorkedWith,WebFrameDesireNextYear,MiscTechWorkedWith,MiscTechDesireNextYear,DevEnviron,OpSys,Containers,BlockchainOrg,BlockchainIs,BetterLife,ITperson,OffOn,SocialMedia,Extraversion,ScreenName,SOVisit1st,SOVisitFreq,SOVisitTo,SOFindAnswer,SOTimeSaved,SOHowMuchTime,SOAccount,SOPartFreq,SOJobs,EntTeams,SOComm,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
Respondent,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
25983,I am a developer by profession,True,Less than once per year,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Canada,No,"Bachelors degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Received on-the-job training in software devel...,"10,000 or more employees","Developer, full-stack",8,16,2,Very satisfied,Very satisfied,Somewhat confident,No,No,"Im not actively looking, but I am open to new...",3-4 years ago,Solve a brain-teaser style puzzle;Interview wi...,No,Remote work options;Opportunities for professi...,"My job status changed (promotion, new job, etc.)",USD,United States dollar,65500.0,Weekly,2000000.0,45.0,There is a schedule and/or spec (made by me or...,Being tasked with non-development work;Meeting...,A few days each month,Office,Average,"Yes, because I see value in code review",2.0,"Yes, it's part of our process",Developers and management have nearly equal in...,I have little or no influence,Bash/Shell/PowerShell;C++;C#;HTML/CSS;JavaScri...,Bash/Shell/PowerShell;C#;F#;Python;SQL;TypeScript,Microsoft SQL Server;MySQL,Microsoft SQL Server;MySQL,AWS;Docker;Heroku;Linux;MacOS;Raspberry Pi;Win...,AWS;Docker;Linux;MacOS;Windows,Angular/Angular.js,Angular/Angular.js;Flask;React.js,.NET;.NET Core;Node.js,.NET Core;Node.js,Notepad++;Sublime Text;Vim;Visual Studio;Visua...,Windows,Development;Production,NaN,"Useful for decentralized currency (i.e., Bitcoin)",No,Yes,Yes,Reddit,In real life (in person),Username,2013,Daily or almost daily,Find answers to specific questions;Learn how t...,1-2 times per week,Stack Overflow was much faster,11-30 minutes,Yes,Less than once per month or monthly,"No, I knew that Stack Overflow had a job board...","No, and I don't know what those are","No, not really",Just as welcome now as I felt last year,NaN,24.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
87896,I am a developer by profession,True,Less than once per year,The quality of OSS and closed source software ...,Employed full-time,Germany,No,"Bachelors degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,2-9 employees,"Developer, full-stack",9,17,8,Very satisfied,Very satisfied,Somewhat confident,No,I am already a manager,I am not interested in new job opportunities,More than 4 years ago,Write any code;Interview with people in senior...,No,Office environment or company culture;Diversit...,"Something else changed (education, award, medi...",USD,United States dollar,55000.0,Weekly,2000000.0,40.0,There is a schedule and/or spec (made by me or...,Being tasked with non-development work;Meeting...,All or almost all the time (I'm full-time remote),Home,A little above average,"Yes, because I see value in code review",3.0,"No, but I think we should",Developers and management have nearly equal in...,I have a great deal of influence,HTML/CSS;JavaScript;PHP;SQL,HTML/CSS;JavaScript;PHP;Ruby;SQL;TypeScript,MariaDB;MySQL;PostgreSQL,MariaDB;MySQL;PostgreSQL,WordPress,NaN,jQuery;Laravel;Vue.js,Express;Laravel;Ruby on Rails;Vue.js,NaN,Node.js,Sublime Text;Vim;Visual Studio Code,Linux-based,I do not use containers,Not at all,Useful for immutable record keeping outside of...,No,Yes,Yes,Twitter,Online,Handle,2011,Daily or almost daily,Find answers to specific questions,3-5 times per week,Stack Overflow was much faster,0-10 minutes,Yes,Less than once per month or monthly,"No, I knew that Stack Overflow had a job board...","No, I've heard of them, but I am not part of a...","No, not really",Just as welcome now as I felt last year,Tech articles written by other developers;Tech...,32.0,Man,No,Gay or Lesbian,White or of European descent,No,Appropriate in length,Neither easy nor difficult
22013,I am a developer by profession,True,Never,The quality of OSS and closed source software ...,Employed full-time,India,No,"Professional degree (JD, MD, etc.)","A natural science (ex. biology, chemistry, phy...",Taken an online course in programming or softw...,2-9 employees,Academic researcher;Data scientist or machine ...,3,26,3,Very satisfied,Very satisfied,NaN,NaN,NaN,I am not interested in new job opportunities,3-4 years ago,"Write code by hand (e.g., on a whiteboard);Com...",No,Financial performance or funding status of the...,"Something else changed (education, award, medi...",USD,United States dollar,1500000.0,Weekly,2000000.0,50.0,There's no schedule or spec; I work on what se...,Inadequate access to necessary tools;Meetings;...,All or almost all the time (I'm full-time remote),Home,A little below average,"Yes, because I see value in code review",10.0,"Yes, it's part of our process",Developers typically have the most influence o...,I have a great deal of influence,Assembly;Bash/Shell/PowerShell;C;C++;Java;Java...,Python;Swift,Cassandra;Microsoft SQL Server;Oracle,Cassandra,Android;Arduino;Google Cloud Platform;IBM Clou...,IBM Cloud or Watson;Windows,jQuery,NaN,TensorFlow,TensorFlow,Visual Studio;Visual Studio Code,Windows,Development,Implementing our own cryptocurrency,Useful across many domains and could change ma...,Yes,Yes,No,YouTube,Online,Screen Name,NaN,A few times per week,Find answers to specific questions,1-2 times per week,Stack Overflow was much faster,60+ minutes,Yes,I have never participated in Q&A on Stack Over...,Yes,Yes,"Yes, definitely",A lot more welcome now than last year,Tech articles written by other developers;Indu...,NaN,Man,No,Straight / Heterosexual,NaN,Yes,Too long,Easy
28243,I am a developer by profession,True,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...","Independent contractor, freelancer, or self-em...",India,No,"Masters degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,2-9 employees,"Developer, back-end;Developer, full-stack;Deve...",25,9,14,Neither satisfied nor dissatisfied,Neither satisfied nor dissatisfied,NaN,NaN,NaN,"Im not actively looking, but I am open to new...",1-2 years ago,Interview with people in peer roles;Interview ...,Yes,Financial performance or funding status of the...,I heard about a job opportunity (from a recrui...,USD,United States dollar,2000000.0,Yearly,2000000.0,20.0,There is a schedule and/or spec (made by me or...,Being tasked with non-development work;Not eno...,All or almost all the time (I'm full-time remote),Office,Far above average,"Yes, because I see value in code review",NaN,NaN,NaN,NaN,C++;C#;Java;JavaScript;Objective-C;Python,C;C++;C#,PostgreSQL;SQLite,SQLite,Android;AWS;iOS;MacOS;Windows,Android;Linux,NaN,NaN,Node.js;Pandas;Unity 3D,Unity 3D;Unreal Engine,Android Studio;Coda;PyCharm;Visual Studio;Visu...,MacOS,I do not use containers,NaN,An irresponsible use of resources,No,Yes,No,I don't use social media,In real life (in person),Username,2008,Daily or almost daily,Find answers to specific questions,More than 10 times per week,Stack Overflow was much faster,60+ minutes,Yes,Multiple times per day,Yes,"No, and I don't know what those are","Yes, definitely",A lot less welcome now than last year,Tech meetups or events in your area,NaN,NaN,NaN,Straight / Heterosexual,NaN,Yes,Too short,Easy
72732,"I am not primarily a developer, but I write co...",False,Less than once a month but more than once per ...,"OSS is, on average, of LOWER quality than prop...",NaN,India,"Yes, full-time","Bachelors degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Contributed to open source software,NaN,NaN,4,20,5,Slightly satisfied,Slightly satisfied,NaN,NaN,NaN,I am actively looking for a job,More than 4 years ago,Write any code,No,Remote work options;Opportunities for professi...,I was preparing for a job search,USD,United States dollar,80000.0,Weekly,2000000.0,40.0,There is a schedule and/or spec (made by me or...,Lack of support from management;Meetings;Time ...,Less than once per month / Never,Office,A little above average,"Yes, because I see value in code review",10.0,"Yes, it's part of our process",Not sure,I have little or no influence,Java;Python;SQL,NaN,MongoDB;Microsoft SQL Server;MySQL;Oracle;Post...,MySQL,Android;Windows,AWS;Docker,NaN,Angular/Angular.js;React.js,NaN,NaN,Eclipse;Notepad++;PyCharm,Windows,Testing,NaN,NaN,Yes,Yes,No,WhatsApp,Neither,NaN,2017,A few times per month or weekly,Get a sense of belonging to the developer comm...,1-2 times per week,Stack Overflow was slightly faster,11-30 minutes,Yes,A few times per month or weekly,Yes,"No, and I don't know what those are",Not sure,A lot less welcome now than last year,Tech articles written by other developers;Tech...,NaN,Man,No,NaN,NaN,Yes,Too long,Easy

In [73]:
# aggregation: mean | median | mode
df['SalaryUSD'].median()

57287.0

In [74]:
df[df['Country'] == 'United States']['SalaryUSD'].median()

110000.0

In [75]:
df[df['Country'] == 'India']['SalaryUSD'].mean()

28057.664916229056

In [76]:
df[df['Country'] == 'India']['SalaryUSD'].median()

10080.0

In [77]:
df[df['Country'] == 'Turkey']['SalaryUSD'].median()

17280.0

In [78]:
df.describe()  # only selects the columns that have numerical values

          CompTotal     SalaryUSD   WorkWeekHrs    CodeRevHrs           Age
count  5.594500e+04  5.582300e+04  64503.000000  49790.000000  79210.000000
mean   5.519014e+11  1.271107e+05     42.127197      5.084308     30.336699
std    7.331926e+13  2.841523e+05     37.287610      5.513931      9.178390
min    0.000000e+00  0.000000e+00      1.000000      0.000000      1.000000
25%    2.000000e+04  2.577750e+04     40.000000      2.000000     24.000000
50%    6.200000e+04  5.728700e+04     40.000000      4.000000     29.000000
75%    1.200000e+05  1.000000e+05     44.750000      6.000000     35.000000
max    1.000000e+16  2.000000e+06   4850.000000     99.000000     99.000000

In [79]:
df['Hobbyist'].value_counts()

Hobbyist
True     71257
False    17626
Name: count, dtype: int64

In [80]:
df['SocialMedia'].value_counts()

SocialMedia
Reddit                      14374
YouTube                     13830
WhatsApp                    13347
Facebook                    13178
Twitter                     11398
Instagram                    6261
I don't use social media     5554
LinkedIn                     4501
WeChat                      667
Snapchat                      628
VK                  603
Weibo                      56
Youku Tudou                  21
Hello                          19
Name: count, dtype: int64

In [81]:
df['SocialMedia'].value_counts(normalize=True)  # based on 1 total count

SocialMedia
Reddit                      0.170233
YouTube                     0.163791
WhatsApp                    0.158071
Facebook                    0.156069
Twitter                     0.134988
Instagram                   0.074150
I don't use social media    0.065777
LinkedIn                    0.053306
WeChat                    0.007899
Snapchat                    0.007437
VK                0.007141
Weibo                   0.000663
Youku Tudou               0.000249
Hello                       0.000225
Name: proportion, dtype: float64

In [82]:
df['Country'].value_counts()

Country
United States                       20949
India                                9061
Germany                              5866
United Kingdom                       5737
Canada                               3395
                                    ...
North Korea                             1
Niger                                   1
Saint Vincent and the Grenadines        1
Chad                                    1
Brunei Darussalam                       1
Name: count, Length: 179, dtype: int64

In [83]:
len(df[df['Country'] == 'Turkey'])

949

In [84]:
len(df[df['Country'] == 'Poland'])

1922

In [85]:
country_group = df.groupby(['Country'])  # group dataframe based on country

country_group  # DataFrameGroupBy

In [86]:
country_group.get_group('United States').head(3)

,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,EduOther,OrgSize,DevType,YearsCode,Age1stCode,YearsCodePro,CareerSat,JobSat,MgrIdiot,MgrMoney,MgrWant,JobSeek,LastHireDate,LastInt,FizzBuzz,JobFactors,ResumeUpdate,CurrencySymbol,CurrencyDesc,CompTotal,CompFreq,SalaryUSD,WorkWeekHrs,WorkPlan,WorkChallenge,WorkRemote,WorkLoc,ImpSyn,CodeRev,CodeRevHrs,UnitTests,PurchaseHow,PurchaseWhat,LanguageWorkedWith,LanguageDesireNextYear,DatabaseWorkedWith,DatabaseDesireNextYear,PlatformWorkedWith,PlatformDesireNextYear,WebFrameWorkedWith,WebFrameDesireNextYear,MiscTechWorkedWith,MiscTechDesireNextYear,DevEnviron,OpSys,Containers,BlockchainOrg,BlockchainIs,BetterLife,ITperson,OffOn,SocialMedia,Extraversion,ScreenName,SOVisit1st,SOVisitFreq,SOVisitTo,SOFindAnswer,SOTimeSaved,SOHowMuchTime,SOAccount,SOPartFreq,SOJobs,EntTeams,SOComm,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
Respondent,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
58,I am a developer by profession,True,Once a month or more often,"OSS is, on average, of LOWER quality than prop...",Employed full-time,United States,No,"Bachelors degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Received on-the-job training in software devel...,NaN,"Developer, back-end;Developer, desktop or ente...",28,19,23,Very satisfied,Very satisfied,Very confident,Yes,No,I am not interested in new job opportunities,1-2 years ago,NaN,Yes,Office environment or company culture;Remote w...,Re-entry into the workforce,USD,United States dollar,113000.0,Weekly,2000000.0,40.0,There's no schedule or spec; I work on what se...,Being tasked with non-development work;Non-wor...,"Less than half the time, but at least one day ...",Home,A little above average,"Yes, because I see value in code review",1.0,"No, but I think we should",Developers and management have nearly equal in...,I have a great deal of influence,C#;Java;SQL,C#;F#;Java;Kotlin;SQL,Microsoft SQL Server;Oracle;SQLite,Microsoft SQL Server;Oracle;SQLite,Android;Windows,Android;Raspberry Pi;Windows,ASP.NET;jQuery,Angular/Angular.js;ASP.NET;jQuery,.NET,Hadoop;.NET;.NET Core;Node.js;Puppet;Xamarin,Android Studio;Visual Studio,Windows,I do not use containers,NaN,NaN,Yes,Yes,Yes,I don't use social media,In real life (in person),Login,I don't remember,Multiple times per day,Find answers to specific questions,More than 10 times per week,Stack Overflow was much faster,NaN,Yes,Less than once per month or monthly,"No, I knew that Stack Overflow had a job board...","No, and I don't know what those are","No, not really",Just as welcome now as I felt last year,NaN,47.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,NaN,Easy
102,I am a developer by profession,False,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelors degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...","Taught yourself a new language, framework, or ...","5,000 to 9,999 employees","Developer, full-stack",8,29,5,Slightly satisfied,Slightly satisfied,Somewhat confident,No,No,"Im not actively looking, but I am open to new...",1-2 years ago,"Write any code;Write code by hand (e.g., on a ...",Yes,Office environment or company culture;Opportun...,"Something else changed (education, award, medi...",USD,United States dollar,67800.0,Weekly,2000000.0,40.0,There is a schedule and/or spec (made by me or...,Being tasked with non-development work;Distrac...,Less than once per month / Never,Office,Average,No,NaN,"No, but I think we should",Not sure,I have some influence,C#;HTML/CSS;JavaScript;SQL;TypeScript,C;C++;Elixir;Go;Ruby;WebAssembly,Microsoft SQL Server,MongoDB;PostgreSQL;SQLite,Microsoft Azure,AWS;Kubernetes;Microsoft Azure,ASP.NET;jQuery;React.js;Other(s):,Angular/Angular.js;Vue.js,.NET;.NET Core,Node.js,Notepad++;Visual Studio;Visual Studio Code,Windows,I do not use containers,Non-currency applications of blockchain,Useful for immutable record keeping outside of...,No,Yes,Yes,I don't use social media,In real life (in person),Username,2012,Daily or almost daily,Find answers to specific questions;Learn how t...,1-2 times per week,Stack Overflow was much faster,60+ minutes,Yes,Less than once per month or monthly,Yes,"No, I've heard of them, but I am not part of a...",Neutral,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,37.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Too long,Easy
166,I am a developer by profession,True,Less than once per year,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelors degree (BA, BS, B.Eng., etc.)","A social science (ex. anthropology, psychology...",Participated in a full-time developer training...,20 to 99 employees,"Developer, back-end;Developer, front-end;Devel...",7,15,6,Slightly satisfied,Slightly satisfied,Very confident,No,Not sure,"Im not actively looking, but I am open to new...",3-4 years ago,Write any code;Complete a take-home project;So...,No,Financial performance or funding status of the...,I had a negative experience or interaction at ...,USD,United States dollar,137000.0,Weekly,2000000.0,45.0,There is a schedule and/or spec (made by me or...,Distracting work environment;Not enough people...,Less than once per month / Never,Home,A little above average,"Yes, because I see value in code review",8.0,"Yes, it's part of our process","The CTO, CIO, or other management purchase new...",I have some influence,Bash/Shell/PowerShell;Go;HTML/CSS;Java;JavaScr...,Bash/Shell/PowerShell;HTML/CSS;Java;JavaScript...,DynamoDB;Elasticsearch;MongoDB;PostgreSQL;Redi...,PostgreSQL;Redis;SQLite,AWS;Docker;Linux,AWS;Docker;iOS;Kubernetes;Linux,jQuery;React.js;Ruby on Rails,React.js;Ruby on Rails,NaN,NaN,Vim,Linux-based,Development;Testing;Production,Not at all,A passing fad,Yes,SIGH,Yes,Twitter,Online,Username,2011,A few times per month or weekly,Find answers to specific questions,Less than once per week,Stack Overflow was slightly faster,11-30 minutes,Yes,Less than once per month or monthly,"No, I knew that Stack Overflow had a job board...","No, I've heard of them, but I am not part of a...","No, not at all",Just as welcome now as I felt last year,NaN,30.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Neither easy nor difficult

In [87]:
filt = df['Country'] == 'United States'
custom_df = df.loc[filt]

# this returns same result as above
custom_df.head(3)

,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,EduOther,OrgSize,DevType,YearsCode,Age1stCode,YearsCodePro,CareerSat,JobSat,MgrIdiot,MgrMoney,MgrWant,JobSeek,LastHireDate,LastInt,FizzBuzz,JobFactors,ResumeUpdate,CurrencySymbol,CurrencyDesc,CompTotal,CompFreq,SalaryUSD,WorkWeekHrs,WorkPlan,WorkChallenge,WorkRemote,WorkLoc,ImpSyn,CodeRev,CodeRevHrs,UnitTests,PurchaseHow,PurchaseWhat,LanguageWorkedWith,LanguageDesireNextYear,DatabaseWorkedWith,DatabaseDesireNextYear,PlatformWorkedWith,PlatformDesireNextYear,WebFrameWorkedWith,WebFrameDesireNextYear,MiscTechWorkedWith,MiscTechDesireNextYear,DevEnviron,OpSys,Containers,BlockchainOrg,BlockchainIs,BetterLife,ITperson,OffOn,SocialMedia,Extraversion,ScreenName,SOVisit1st,SOVisitFreq,SOVisitTo,SOFindAnswer,SOTimeSaved,SOHowMuchTime,SOAccount,SOPartFreq,SOJobs,EntTeams,SOComm,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
Respondent,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
58,I am a developer by profession,True,Once a month or more often,"OSS is, on average, of LOWER quality than prop...",Employed full-time,United States,No,"Bachelors degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Received on-the-job training in software devel...,NaN,"Developer, back-end;Developer, desktop or ente...",28,19,23,Very satisfied,Very satisfied,Very confident,Yes,No,I am not interested in new job opportunities,1-2 years ago,NaN,Yes,Office environment or company culture;Remote w...,Re-entry into the workforce,USD,United States dollar,113000.0,Weekly,2000000.0,40.0,There's no schedule or spec; I work on what se...,Being tasked with non-development work;Non-wor...,"Less than half the time, but at least one day ...",Home,A little above average,"Yes, because I see value in code review",1.0,"No, but I think we should",Developers and management have nearly equal in...,I have a great deal of influence,C#;Java;SQL,C#;F#;Java;Kotlin;SQL,Microsoft SQL Server;Oracle;SQLite,Microsoft SQL Server;Oracle;SQLite,Android;Windows,Android;Raspberry Pi;Windows,ASP.NET;jQuery,Angular/Angular.js;ASP.NET;jQuery,.NET,Hadoop;.NET;.NET Core;Node.js;Puppet;Xamarin,Android Studio;Visual Studio,Windows,I do not use containers,NaN,NaN,Yes,Yes,Yes,I don't use social media,In real life (in person),Login,I don't remember,Multiple times per day,Find answers to specific questions,More than 10 times per week,Stack Overflow was much faster,NaN,Yes,Less than once per month or monthly,"No, I knew that Stack Overflow had a job board...","No, and I don't know what those are","No, not really",Just as welcome now as I felt last year,NaN,47.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,NaN,Easy
102,I am a developer by profession,False,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelors degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...","Taught yourself a new language, framework, or ...","5,000 to 9,999 employees","Developer, full-stack",8,29,5,Slightly satisfied,Slightly satisfied,Somewhat confident,No,No,"Im not actively looking, but I am open to new...",1-2 years ago,"Write any code;Write code by hand (e.g., on a ...",Yes,Office environment or company culture;Opportun...,"Something else changed (education, award, medi...",USD,United States dollar,67800.0,Weekly,2000000.0,40.0,There is a schedule and/or spec (made by me or...,Being tasked with non-development work;Distrac...,Less than once per month / Never,Office,Average,No,NaN,"No, but I think we should",Not sure,I have some influence,C#;HTML/CSS;JavaScript;SQL;TypeScript,C;C++;Elixir;Go;Ruby;WebAssembly,Microsoft SQL Server,MongoDB;PostgreSQL;SQLite,Microsoft Azure,AWS;Kubernetes;Microsoft Azure,ASP.NET;jQuery;React.js;Other(s):,Angular/Angular.js;Vue.js,.NET;.NET Core,Node.js,Notepad++;Visual Studio;Visual Studio Code,Windows,I do not use containers,Non-currency applications of blockchain,Useful for immutable record keeping outside of...,No,Yes,Yes,I don't use social media,In real life (in person),Username,2012,Daily or almost daily,Find answers to specific questions;Learn how t...,1-2 times per week,Stack Overflow was much faster,60+ minutes,Yes,Less than once per month or monthly,Yes,"No, I've heard of them, but I am not part of a...",Neutral,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,37.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Too long,Easy
166,I am a developer by profession,True,Less than once per year,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelors degree (BA, BS, B.Eng., etc.)","A social science (ex. anthropology, psychology...",Participated in a full-time developer training...,20 to 99 employees,"Developer, back-end;Developer, front-end;Devel...",7,15,6,Slightly satisfied,Slightly satisfied,Very confident,No,Not sure,"Im not actively looking, but I am open to new...",3-4 years ago,Write any code;Complete a take-home project;So...,No,Financial performance or funding status of the...,I had a negative experience or interaction at ...,USD,United States dollar,137000.0,Weekly,2000000.0,45.0,There is a schedule and/or spec (made by me or...,Distracting work environment;Not enough people...,Less than once per month / Never,Home,A little above average,"Yes, because I see value in code review",8.0,"Yes, it's part of our process","The CTO, CIO, or other management purchase new...",I have some influence,Bash/Shell/PowerShell;Go;HTML/CSS;Java;JavaScr...,Bash/Shell/PowerShell;HTML/CSS;Java;JavaScript...,DynamoDB;Elasticsearch;MongoDB;PostgreSQL;Redi...,PostgreSQL;Redis;SQLite,AWS;Docker;Linux,AWS;Docker;iOS;Kubernetes;Linux,jQuery;React.js;Ruby on Rails,React.js;Ruby on Rails,NaN,NaN,Vim,Linux-based,Development;Testing;Production,Not at all,A passing fad,Yes,SIGH,Yes,Twitter,Online,Username,2011,A few times per month or weekly,Find answers to specific questions,Less than once per week,Stack Overflow was slightly faster,11-30 minutes,Yes,Less than once per month or monthly,"No, I knew that Stack Overflow had a job board...","No, I've heard of them, but I am not part of a...","No, not at all",Just as welcome now as I felt last year,NaN,30.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Neither easy nor difficult

In [88]:
# value count for social media users in the united states
df.loc[filt]['SocialMedia'].value_counts()

SocialMedia
Reddit                      5700
Twitter                     3468
Facebook                    2844
YouTube                     2463
I don't use social media    1851
Instagram                   1652
LinkedIn                    1020
WhatsApp                     609
Snapchat                     326
WeChat                      93
VK                   9
Weibo                      8
Hello                          2
Youku Tudou                  1
Name: count, dtype: int64

In [89]:
country_group['SocialMedia'].value_counts()

# here the index has become name of the country

Country      SocialMedia
Afghanistan  Facebook                    15
             YouTube                      9
             I don't use social media     6
             WhatsApp                     4
             Instagram                    1
                                         ..
Zimbabwe     Facebook                     3
             YouTube                      3
             LinkedIn                     2
             Instagram                    2
             Reddit                       1
Name: count, Length: 1220, dtype: int64

In [90]:
country_group['SocialMedia'].value_counts().loc['Azerbaijan']
# since name of country becomes index, we can use .loc here

SocialMedia
YouTube                     15
Twitter                      8
WhatsApp                     7
Facebook                     6
Reddit                       3
LinkedIn                     2
Instagram                    2
VK                 1
I don't use social media     1
Name: count, dtype: int64

In [91]:
country_group['SocialMedia'].value_counts().loc['Armenia']

SocialMedia
Facebook                    38
YouTube                     23
LinkedIn                     5
Instagram                    3
Reddit                       3
Twitter                      3
WhatsApp                     3
VK                 2
I don't use social media     1
Name: count, dtype: int64

In [92]:
# in the groupby, aggregate by median of salary, then get the row for Ukraine
country_group['SalaryUSD'].median().loc['Ukraine']

26940.0

In [93]:
country_group['SalaryUSD'].agg(['median', 'mean']).loc['United States']

median    110000.000000
mean      249546.254589
Name: United States, dtype: float64

In [94]:
# the result is a Pandas Series
country_group['SalaryUSD'].aggregate(['median', 'mean']).loc['United States']

median    110000.000000
mean      249546.254589
Name: United States, dtype: float64

In [95]:
filt = (df['Country'] == 'India')
df.loc[filt]['LanguageWorkedWith'].str.contains('Python').sum()
# .sum() counts True as 1 and False as 0

3105

In [96]:
len(df.loc[filt])

9061

In [97]:
# here we check how many devs in each country know python
# for groupedby series you can't use .str directly, use .apply()
# 'SeriesGroupBy' object has no attribute 'str'
country_python = country_group['LanguageWorkedWith'].apply(lambda x: x.str.contains('Python').sum())
country_group['LanguageWorkedWith'].apply(lambda x: x.str.contains('Python').sum())

Country
Afghanistan                              8
Albania                                 23
Algeria                                 40
Andorra                                  0
Angola                                   2
                                        ..
Venezuela, Bolivarian Republic of...    28
Viet Nam                                78
Yemen                                    3
Zambia                                   4
Zimbabwe                                14
Name: LanguageWorkedWith, Length: 179, dtype: int64

In [98]:
# total number of devs in each country
country_respondants = df['Country'].value_counts()
country_respondants

Country
United States                       20949
India                                9061
Germany                              5866
United Kingdom                       5737
Canada                               3395
                                    ...
North Korea                             1
Niger                                   1
Saint Vincent and the Grenadines        1
Chad                                    1
Brunei Darussalam                       1
Name: count, Length: 179, dtype: int64

In [99]:
python_df = pd.concat([country_respondants, country_python], axis='columns', sort=False)
# axis= X : This argument specifies the axis along which the concatenation should occur.
# axis=0 (default) concatenates vertically, stacking objects on top of each other (row-wise) => adds the values together in here
# axis=1 concatenates horizontally, placing objects side-by-side (column-wise) => puts values besides each other in here
python_df.head(3)

               count  LanguageWorkedWith
Country
United States  20949               10083
India           9061                3105
Germany         5866                2451

In [100]:
 # add dataframes side by side
python_df.rename(columns={'count': 'NumRespondants', 'LanguageWorkedWith': 'NumKnowsPython'}, inplace=True)
python_df['pctPython'] = (python_df['NumKnowsPython'] / python_df['NumRespondants']) * 100

python_df.head(3)

               NumRespondants  NumKnowsPython  pctPython
Country
United States           20949           10083  48.131176
India                    9061            3105  34.267741
Germany                  5866            2451  41.783157

In [101]:
python_df[python_df['NumRespondants'] > 100].sort_values(by='pctPython', ascending=False).head(10)

                    NumRespondants  NumKnowsPython  pctPython
Country
South Korea                    160              80  50.000000
Chile                          206             102  49.514563
Finland                        546             266  48.717949
Kenya                          249             120  48.192771
United States                20949           10083  48.131176
Israel                         952             457  48.004202
Taiwan                         187              88  47.058824
Switzerland                    978             460  47.034765
Hong Kong (S.A.R.)             188              88  46.808511
Japan                          391             182  46.547315

In [102]:
# Dealing with Missing Data
people = {
    'first': ['Corey', 'Jane', 'John', 'Chris', np.nan, None, 'NA'], 
    'last': ['Schafer', 'Doe', 'Doe', 'Schafer', np.nan, np.nan, 'Missing'], 
    'email': ['CoreyMSchafer@gmail.com', 'JaneDoe@email.com', 'JohnDoe@email.com', None, np.nan, 'Anonymous@email.com', 'NA'],
    'age': ['33', '55', '63', '36', None, None, 'Missing']
}

print(type(np.nan), type(None), type('NA'))

df_1 = pd.DataFrame(people)
df_1

<class 'float'> <class 'NoneType'> <class 'str'>

   first     last                    email      age
0  Corey  Schafer  CoreyMSchafer@gmail.com       33
1   Jane      Doe        JaneDoe@email.com       55
2   John      Doe        JohnDoe@email.com       63
3  Chris  Schafer                     None       36
4    NaN      NaN                      NaN     None
5   None      NaN      Anonymous@email.com     None
6     NA  Missing                       NA  Missing

In [103]:
df_1.replace('NA', np.nan, inplace=True)  # applies to all cells in each row
df_1.replace('Missing', np.nan, inplace=True)
df_1.dropna() # dropna() deletes any line that includes a NaN (np.nan) or None value

   first     last                    email age
0  Corey  Schafer  CoreyMSchafer@gmail.com  33
1   Jane      Doe        JaneDoe@email.com  55
2   John      Doe        JohnDoe@email.com  63

In [104]:
# only drop rows if email AND last name are missing (both missing)
df_1.dropna(axis='index', how='all', subset=['email', 'last'])

   first     last                    email   age
0  Corey  Schafer  CoreyMSchafer@gmail.com    33
1   Jane      Doe        JaneDoe@email.com    55
2   John      Doe        JohnDoe@email.com    63
3  Chris  Schafer                     None    36
5   None      NaN      Anonymous@email.com  None

In [105]:
df_1.isna() # returns True if value is considered na

   first   last  email    age
0  False  False  False  False
1  False  False  False  False
2  False  False  False  False
3  False  False   True  False
4   True   True   True   True
5   True   True  False   True
6   True   True   True   True

In [106]:
df_1.fillna('Missing')

     first     last                    email      age
0    Corey  Schafer  CoreyMSchafer@gmail.com       33
1     Jane      Doe        JaneDoe@email.com       55
2     John      Doe        JohnDoe@email.com       63
3    Chris  Schafer                  Missing       36
4  Missing  Missing                  Missing  Missing
5  Missing  Missing      Anonymous@email.com  Missing
6  Missing  Missing                  Missing  Missing

In [107]:
type(np.nan)

float

In [108]:
# we convert all values in the 'age' column to float
df_1['age'] = df_1['age'].astype(float)
type(df_1['age'].loc[3])

numpy.float64

In [109]:
df_1['age'].mean()

46.75

In [110]:
df['YearsCode'].unique()  # what values exist in this dataframe column

array(['Less than 1 year', '7', '2', '6', '3', '4', '10', '36', '1', nan,
       'More than 50 years', '20', '9', '5', '8', '31', '28', '15', '13',
       '12', '17', '18', '21', '35', '14', '25', '11', '19', '22', '23',
       '40', '39', '30', '43', '27', '33', '29', '24', '34', '16', '32',
       '26', '38', '44', '41', '45', '37', '47', '42', '46', '48', '50',
       '49'], dtype=object)

In [111]:
df['YearsCode'].replace('Less than 1 year', 0, inplace=True)
df['YearsCode'].replace('More than 50 years', 51, inplace=True)

df['YearsCode'] = df['YearsCode'].astype(float)

In [112]:
# now we can get the mean
df['YearsCode'].mean()

11.662114216834588

In [113]:
# Reading and Writing Files with Pandas
filt = (df['Country'] == 'United States')
us_df = df.loc[filt]
us_df.head(1)

,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,EduOther,OrgSize,DevType,YearsCode,Age1stCode,YearsCodePro,CareerSat,JobSat,MgrIdiot,MgrMoney,MgrWant,JobSeek,LastHireDate,LastInt,FizzBuzz,JobFactors,ResumeUpdate,CurrencySymbol,CurrencyDesc,CompTotal,CompFreq,SalaryUSD,WorkWeekHrs,WorkPlan,WorkChallenge,WorkRemote,WorkLoc,ImpSyn,CodeRev,CodeRevHrs,UnitTests,PurchaseHow,PurchaseWhat,LanguageWorkedWith,LanguageDesireNextYear,DatabaseWorkedWith,DatabaseDesireNextYear,PlatformWorkedWith,PlatformDesireNextYear,WebFrameWorkedWith,WebFrameDesireNextYear,MiscTechWorkedWith,MiscTechDesireNextYear,DevEnviron,OpSys,Containers,BlockchainOrg,BlockchainIs,BetterLife,ITperson,OffOn,SocialMedia,Extraversion,ScreenName,SOVisit1st,SOVisitFreq,SOVisitTo,SOFindAnswer,SOTimeSaved,SOHowMuchTime,SOAccount,SOPartFreq,SOJobs,EntTeams,SOComm,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
Respondent,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
58,I am a developer by profession,True,Once a month or more often,"OSS is, on average, of LOWER quality than prop...",Employed full-time,United States,No,"Bachelors degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Received on-the-job training in software devel...,NaN,"Developer, back-end;Developer, desktop or ente...",28.0,19,23,Very satisfied,Very satisfied,Very confident,Yes,No,I am not interested in new job opportunities,1-2 years ago,NaN,Yes,Office environment or company culture;Remote w...,Re-entry into the workforce,USD,United States dollar,113000.0,Weekly,2000000.0,40.0,There's no schedule or spec; I work on what se...,Being tasked with non-development work;Non-wor...,"Less than half the time, but at least one day ...",Home,A little above average,"Yes, because I see value in code review",1.0,"No, but I think we should",Developers and management have nearly equal in...,I have a great deal of influence,C#;Java;SQL,C#;F#;Java;Kotlin;SQL,Microsoft SQL Server;Oracle;SQLite,Microsoft SQL Server;Oracle;SQLite,Android;Windows,Android;Raspberry Pi;Windows,ASP.NET;jQuery,Angular/Angular.js;ASP.NET;jQuery,.NET,Hadoop;.NET;.NET Core;Node.js;Puppet;Xamarin,Android Studio;Visual Studio,Windows,I do not use containers,NaN,NaN,Yes,Yes,Yes,I don't use social media,In real life (in person),Login,I don't remember,Multiple times per day,Find answers to specific questions,More than 10 times per week,Stack Overflow was much faster,NaN,Yes,Less than once per month or monthly,"No, I knew that Stack Overflow had a job board...","No, and I don't know what those are","No, not really",Just as welcome now as I felt last year,NaN,47.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,NaN,Easy

In [114]:
# export dataframe to a csv file:
us_df.to_csv('files/modified.csv', sep= '\t')

In [115]:
# libraries needed when working with excel : "xlwt"  "xlrd"  "openpyxl"
us_df.to_excel('files/modified.xlsx')
# to read the same file
us_df_from_excel = pd.read_excel('files/modified.xlsx', index_col='Respondent')